<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección Acción</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/isotipo.svg"  sizes="16x16"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="64x64"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/app.css">
    <!-- Google Fonts Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->

    <header class="header">
        <div class="bar">
            <div>
                <a href="#" class="isotipo">
                    <img src="../img/isotipo.svg" alt="" class="isotipoIcon">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <a href="dashboard.html" class="home">
                <img class="inicio" id="iconoInicio" src="../img/home.svg" alt="">
            </a>
        </div>
        <div class="menu">
            <div class="topLogo">
                <img src="../img/menuOpen.svg" alt="" class="menuOpen">
                <a href="#" class="isotipo">
                    <img src="../img/isotipo.svg" alt="" class="isotipoIcon">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <div class="imgUser">
                <img src="../img/picUser.svg" alt="" class="user">
                <div class="data">
                    <p class="name">Diego Marín</p>
                    <p class="email">dilema4000@gmail.com</p>
                </div>
            </div>
            <nav class="navSide">
                <ul>
                    <li><a href="dashboard.html"><img src="../img/home.svg" alt="">Inicio</a></li>
                    <li><a href="sectionCategories.html"><img src="../img/categorias.svg" alt="">Categorias</a></li>
                    <li><a href="favoritos.html"><img src="../img/favoritos.svg" alt="">Favoritos</a></li>
                    <li><a href="userProfile.html"><img src="../img/user.svg" alt="">Perfil</a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="../img/setting.svg" alt="">Configuración</a></li>
                    <li><a href="#"><img src="../img/accountSwitch.svg" alt="">Cambio de perfil</a></li>
                    <li><a href="#"><img src="../img/exit.svg" alt="">Salir</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">

        <!-- Section Action -->

        <section class="sectionAction">
            <h1 class="titleSection">Acción</h1>
            <div class="categoryAction">
                <a href="" class="category">
                    <img src="../img/accionUno.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionDos.webp" alt="" class="movie">
                </a>
                <a href="sinopsis.html" class="category">
                    <img src="../img/accionTres.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionCuatro.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionCinco.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionSeis.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionSiete.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionOcho.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionNueve.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionDiez.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionOnce.webp" alt="" class="movie">
                </a>
                <a href="" class="category">
                    <img src="../img/accionDoce.webp" alt="" class="movie">
                </a>
            </div>
        </section>

    </main>

</body>
</html>
