<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Favicon -->
    <link href="../img/isologo.svg" rel="icon" sizes="16x16"/>
    <link href="../img/isologo.svg" rel="icon" sizes="32x32"/>
    <link href="../img/isologo.svg" rel="icon" sizes="64x64"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/app.css">
    <!-- Google Fonts Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->

    <header class="header">
        <div class="bar">
            <div>
                <a href="#" class="isotipo">
                    <img src="../img/isotipo.svg" alt="" class="isotipoIcon"  id="isotipoIcon">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <a href="dashboard.html" class="home">
                <img class="inicio" id="iconoInicio" src="../img/home.svg" alt="" >
            </a>
        </div>
        <div class="menu">
            <div class="topLogo">
                <img src="../img/menuOpen.svg" alt="" class="menuOpen">
                <a href="#" class="isotipo">
                    <img src="../img/isotipo.svg" alt="" class="isotipoIcon">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <div class="imgUser">
                <img src="../img/picUser.svg" alt="" class="user">
                <div class="data">
                    <p class="name">Diego Marín</p>
                    <p class="email">dilema4000@gmail.com</p>
                </div>
            </div>
            <nav class="navSide">
                <ul>
                    <li><a href="dashboard.html"><img src="../img/home.svg" alt="">Inicio</a></li>
                    <li><a href="sectionCategories.html"><img src="../img/category.svg" alt="">Categorias</a></li>
                    <li><a href="favoritos.html"><img src="../img/favorite.svg" alt="">Favoritos</a></li>
                    <li><a href="userProfile.html"><img src="../img/user.svg" alt="">Perfil</a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="../img/setting.svg" alt="">Configuración</a></li>
                    <li><a href="#"><img src="../img/accountSwitch.svg" alt="">Cambio de perfil</a></li>
                    <li><a href="#"><img src="../img/exit.svg" alt="">Salir</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">

        <!-- User  Dashboard-->

        <section class="heroSectionUser">
            <div class="titles">
                <h1 class="title">"¡Mira lo que está por venir! Echa un vistazo a nuestras próximas adiciones."</h1>
                <h1 class="title">"Prepárate para lo que viene: conoce nuestras próximas películas antes de que se estrenen."</h1>
            </div>
            <!-- Aca viene el background de la imagen -->
        </section>

        <section class="blockSlider">
            <h2 class="comingSoon">Estrenos</h2>
            <div class="sliderEstrenos">
                <img src="../img/picCategoriaUno.webp" alt="" class="slider">
                <img src="../img/picCategoriaDos.webp" alt="" class="slider">
                <img src="../img/picCategoriaTres.webp" alt="" class="slider">
                <img src="../img/picCategoriaCuatro.webp" alt="" class="slider">
                <img src="../img/picCategoriaCinco.webp" alt="" class="slider">
                <img src="../img/picCategoriaSeis.webp" alt="" class="slider">
                <img src="../img/picCategoriaSiete.webp" alt="" class="slider">
                <img src="../img/picCategoriaOcho.webp" alt="" class="slider">
                <img src="../img/picCategoriaNueve.webp" alt="" class="slider">
                <img src="../img/picCategoriaDiez.webp" alt="" class="slider">
                <img src="../img/picCategoriaOnce.webp" alt="" class="slider">
                <img src="../img/picCategoriaDoce.webp" alt="" class="slider">
                <img src="../img/picCategoriaTrece.webp" alt="" class="slider">
                <img src="../img/picCategoriaCatorce.webp" alt="" class="slider">
                <img src="../img/picCategoriaQuince.webp" alt="" class="slider">
                <img src="../img/picCategoriaDiezySeis.webp" alt="" class="slider">
                <img src="../img/picCategoriaDiezySiete.webp" alt="" class="slider">
                <img src="../img/picCategoriaDiezyOcho.webp" alt="" class="slider">
                <img src="../img/picCategoriaDiezyNueve.webp" alt="" class="slider">
                <img src="../img/picCategoriaVeinte.webp" alt="" class="slider">
                <img src="../img/picCategoriaVeintiUno.webp" alt="" class="slider">
                <img src="../img/picCategoriaVeintiDos.webp" alt="" class="slider">
                <img src="../img/picCategoriaVeintiTres.webp" alt="" class="slider">
                <img src="../img/picCategoriaVeintiCuatro.webp" alt="" class="slider">
            </div>
            <!-- <div class="arrows">
                <img src="../img/arrowLeft.svg" alt="" class="arrowSlider">
                <img src="../img/arrowRight.svg" alt="" class="arrowSlider">
            </div> -->
        </section>

    </main>
</body>
</html>
