<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/isotipo.svg"  sizes="16x16"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="64x64"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/app.css">
    <!-- Google Fonts Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->

    <header class="header">
        <div class="bar">
            <a href="../index.html" class="isotipo">
                <img src="../img/isotipo.svg" alt="" class="isotipoIcon">
                <img src="../img/logo.svg" alt="" class="logo">
            </a>
            <a href="../views/suscribe.html" class="logIn">Suscribirse</a>
        </div>
    </header>

    <main class="container">


        <!-- Hero Section -->

        <section class="heroSectionLogIn">
            <di class="containerForm">
                <form action="" class="form">
                    <legend class="iniciarSesion">Inicia Sesión</legend>
                    <div class="input">
                        <label for="email"></label>
                        <input type="email" id="email" placeholder="Email">
                    </div>
                    <div class="input">
                        <label for="password"></label>
                        <input type="text" id="password" placeholder="Password">
                    </div>
                    <div class="cta">
                        <button type="submit" class="ctaIniciarSesion">Iniciar sesion</button>
                        <div>
                            <p>Suscribete</p>
                            <a href="../views/suscribe.html" class="toSuscribe">¡Ahora!</a>
                        </div>
                    </div>
                </form>
            </di>
        </section>

    </main>

    <!-- Footer -->

    <footer class="footer">
        <div class="blockFooter">
            <section class="nav">
                <ul>
                    <li><a href="#" class="item">Contactanos</a></li>
                    <li><a href="#" class="item">Centro de ayudas</a></li>
                    <li><a href="#" class="item">Trabaja con nosotros</a></li>
                    <li><a href="#" class="item">Gift cards</a></li>
                </ul>
            </section>
            <section class="nav">
                <ul>
                    <li><a href="#" class="item">Tu cuenta</a></li>
                    <li><a href="#" class="item">Planes</a></li>
                    <li><a href="#" class="item">Asesores</a></li>
                    <li><a href="#" class="item">Inclusión</a></li>
                </ul>
            </section>
            <section class="nav">
                <ul>
                    <li><a href="#" class="item">FAQ´s</a></li>
                    <li><a href="#" class="item">Menphix</a></li>
                    <li><a href="#" class="item">Ubicaciones</a></li>
                    <li><a href="#" class="item">Terminos y condiciones</a></li>
                </ul>
            </section>
            <section class="socialMedia">
                <p class="contactUs">Contactanos en</p>
                <div class="socialIcon">
                    <a class="item" href="https://facebook.com" target="_blank"><img src="../img/facebook.svg" alt="" class="iconMedia"></a>
                    <a class="item" href="https://youtube.com" target="_blank"><img src="../img/youtube.svg" alt="" class="iconMedia"></a>
                    <a class="item" href="https://instagram.com" target="_blank"><img src="../img/instagram.svg" alt="" class="iconMedia"></a>
                </div>
            </section>
        </div>

        <div class="developer">
            <p class="description">Desarrollo con 🧡 por Diego Marín | Colombia - Canada | 2024 </p>
        </div>
    </footer>

</body>
</html>
