<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinopsis</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/isotipo.svg"  sizes="16x16"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="64x64"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/app.css">
    <!-- Google Fonts Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->

    <header class="header">
        <div class="bar">
            <div>
                <a href="#" class="isotipo">
                    <img src="../img/isotipo.svg" alt="" class="isotipoIcon" id="isotipoIcon">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <a href="dashboard.html" class="home">
                <img class="inicio" id="iconoInicio" src="../img/home.svg" alt="">
            </a>
        </div>
        <div class="menu">
            <div class="topLogo">
                <img src="../img/menuOpen.svg" alt="" class="menuOpen">
                <a href="#" class="isotipo">
                    <img src="../img/isotipo.svg" alt="" class="isotipoIcon">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <div class="imgUser">
                <img src="../img/picUser.svg" alt="" class="user">
                <div class="data">
                    <p class="name">Diego Marín</p>
                    <p class="email">dilema4000@gmail.com</p>
                </div>
            </div>
            <nav class="navSide">
                <ul>
                    <li><a href="dashboard.html"><img src="../img/home.svg" alt="">Inicio</a></li>
                    <li><a href="sectionCategories.html"><img src="../img/category.svg" alt="">Categorias</a></li>
                    <li><a href="favoritos.html"><img src="../img/favorite.svg" alt="">Favoritos</a></li>
                    <li><a href="userProfile.html"><img src="../img/user.svg" alt="">Perfil</a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="../img/setting.svg" alt="">Configuración</a></li>
                    <li><a href="#"><img src="../img/accountSwitch.svg" alt="">Cambio de perfil</a></li>
                    <li><a href="#"><img src="../img/exit.svg" alt="">Salir</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">

        <section class="sectionSinopsis">
            <section class="blockSinopsis">
                <h1 class="titleMovie">John Wick</h1>
                <div class="time">
                    <p class="duration">Duración:</p>
                    <p class="duration">Aproximadamente 101 min.</p>
                </div>
                <div class="sinopsis">
                    <p class="paragraphSinopsis">
                        "John Wick, un exasesino a sueldo retirado, regresa al mundo del
                        crimen en busca de venganza después de que le roben algo muy valioso
                        para él. En un viaje lleno de acción y violencia, Wick se enfrenta a
                        enemigos implacables mientras busca justicia en un mundo donde solo
                        los más fuertes sobreviven."
                    </p>
                </div>
                <div class="ranking">
                    <img class="likeIcon" src="../img/starLike.svg" alt="">
                    <img class="dislikeIcon" src="../img/starDislike.svg" alt="">
                </div>
                <div class="description">
                    <section class="section">
                        <p class="genero">Genero:</p>
                        <p class="info">Acción, Thriller</p>
                    </section>
                    <section class="section">
                        <p class="directo">Director:</p>
                        <p class="info">Chad Stahelski</p>
                    </section>
                    <section class="section">
                        <p class="reparto">Reparto:</p>
                        <p class="info">Keanu Reeves, Michael Nyqvist, Alfie Allen, Adrianne Palicki, Willem Dafoe</p>
                    </section>
                    <section class="section">
                        <p class="clasificacion">Clasificación:</p>
                        <p class="info">R (para violencia intensa, sangrienta y lenguaje fuerte)</p>
                    </section>
                </div>
                <div class="cta">
                    <a href="" class="ctaPlay"><img src="../img/playmovie.svg" alt="" class="iconReproducir"> Reproducir</a>
                    <a href="" class="ctaLater">Ver mas tarde</a>
                </div>
            </section>
        </section>
    </main>
</body>
</html>
