<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del usuario</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/isologo.svg" sizes="16x16"/>
    <link rel="icon" href="../img/isologo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/isologo.svg" sizes="64x64"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/app.css">
    <!-- Google Fonts Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->

    <header class="header">
        <div class="bar">
            <div>
                <a href="#" class="isotipo">
                    <img src="../img/isotipo.svg" alt="" class="isotipoIcon" id="isotipoIcon">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <a href="dashboard.html" class="home">
                <img class="inicio" id="iconoInicio" src="../img/home.svg" alt="">
            </a>
        </div>
        <div class="menu">
            <div class="topLogo">
                <img src="../img/menuOpen.svg" alt="" class="menuOpen">
                <a href="#" class="isotipo">
                    <img src="../img/isotipo.svg" alt="" class="isotipoIcon">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <div class="imgUser">
                <img src="../img/picUser.svg" alt="" class="user">
                <div class="data">
                    <p class="name">Diego Marín</p>
                    <p class="email">dilema4000@gmail.com</p>
                </div>
            </div>
            <nav class="navSide">
                <ul>
                    <li><a href="dashboard.html"><img src="../img/home.svg" alt="">Inicio</a></li>
                    <li><a href="sectionCategories.html"><img src="../img/category.svg" alt="">Categorias</a></li>
                    <li><a href="favoritos.html"><img src="../img/favorite.svg" alt="">Favoritos</a></li>
                    <li><a href="userProfile.html"><img src="../img/user.svg" alt="">Perfil</a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="../img/setting.svg" alt="">Configuración</a></li>
                    <li><a href="#"><img src="../img/accountSwitch.svg" alt="">Cambio de perfil</a></li>
                    <li><a href="#"><img src="../img/exit.svg" alt="">Salir</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">

        <!-- Section User Profile -->

        <section class="sectionUserProfile">
            <section class="blockUserProfile">
                <h1 class="titleSection">Perfil</h1>
                <form class="form">
                    <legend class="legend">Actualiza los campos de tu perfil</legend>
                    <section class="sectionFieldset">
                        <div class="field">
                            <label for="input">Nombre</label>
                            <input type="text" id="input"  placeholder="Agrega tu nombre" requiered>
                        </div>
                        <div class="field">
                            <label for="input">Email</label>
                            <input type="email" id="input" placeholder="Agrega tu Email" requiered>
                        </div>
                        <div class="field">
                            <label for="input">Password</label>
                            <input type="password" id="input" placeholder="Agrega tu password" requiered>
                        </div>
                        <div class="field">
                            <label class="label" for="input">
                                Selecciona tu avatar
                            </label>
                            <input class="file" type="file" id="input">
                        </div>
                        <div class="cta">
                            <button type="submit" class="ctaSave">Guardar</button>
                            <button type="reset" class="ctaCleaner">Limpiar</button>
                        </div>
                    </section>
                </form>
            </section>
        </section>

    </main>
</body>
</html>
