
/* Footer */

.footer{
    width:100%;
    height:auto;
}
.footer .blockFooter{
    width:85%;
    max-width: 1200px;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    margin: 100px auto;
}
.footer .blockFooter .nav ul {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap:20px;
}
.footer .blockFooter .nav ul li{
    list-style-type: none;
}
.footer .blockFooter .nav ul li .item{
    text-decoration: none;
    color: #666666;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
}
.footer .blockFooter .nav ul li .item:hover{
    color: #8A2BE2;
    text-decoration: underline;
}
.footer .blockFooter .socialMedia{
    height:100%;
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap:50px;
}
.footer .blockFooter .socialMedia .socialNetwork{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:5px;
}
.footer .blockFooter .socialMedia .socialNetwork .contactUs{
    text-decoration: none;
    color: #666666;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    border-bottom:1px solid #333333;
    padding-bottom:5px;
}
.footer .blockFooter .socialMedia .socialNetwork .socialIcon{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}
.footer .blockFooter .socialMedia .socialNetwork .socialIcon .item .iconMedia{
    width:24px;
    transition: filter 0.3s ease-in-out;
}
.footer .blockFooter .socialMedia .socialNetwork .socialIcon .item .iconMedia:hover{
    filter: brightness(0) saturate(100%) invert(26%) sepia(76%) saturate(1827%) hue-rotate(250deg) brightness(100%) contrast(98%);
}
.footer .blockFooter .socialMedia .isotipo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0px;
    align-items: center;
    text-decoration: none;
    cursor: pointer
}
.footer .blockFooter .socialMedia a.isotipo .logo{
    width:130px;
    height:auto;
}
.footer .blockFooter .socialMedia a.isotipo img#isotipoIcon{
    width:24px;
    height:auto;
    border-radius: 50%;
    border:1px solid #7625c1;
}
.footer .developer{
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer .developer .description{
    color: #999999;
    font-size: 8px;
    font-weight: 600;
    line-height: normal;
    margin:10px auto;
}

