
/* Container New Profile */


/* Container Greeting */

.container .newGreeting{
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container .newGreeting .greeting{
    color: #D3D3D3;
    font-family: var(--font-family);
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}
.container .newGreeting .profile{
    color: #999;
    font-family: var(--font-family);
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}
.container .newGreeting .blockGreeting{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:35px;
    margin-bottom: 80px;
}
.container .newGreeting .blockGreeting #newProfile .imageProfile{
    filter: brightness(50%);
}
.container .newGreeting .blockGreeting #newProfile .imageProfile:hover{
    filter: brightness(70%);
}
.container .newGreeting .blockGreeting .newProfile .imageProfile{
    border-radius: 50%;
    transition:0.3s ease-in-out;
}
.container .newGreeting .blockGreeting .newProfile:nth-child(1) .imageProfile{
    filter: grayscale(30%);
}
.container .newGreeting .blockGreeting .newProfile:nth-child(1) .imageProfile:hover{
    filter: grayscale(0%);
}
.container .newGreeting .blockGreeting .newProfile:nth-child(2) .imageProfile{
    filter: brightness(50%);
}
.container .newGreeting .blockGreeting .newProfile:nth-child(2) .imageProfile:hover{
    filter: brightness(70%);
}
.container .newGreeting .choice{
    display: flex;
    padding: 16px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #D3D3D3;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background-color: #333;
    text-decoration: none;
    transition:0.3s ease-in-out;
}
.container .newGreeting .choice:hover{
    background-color: #666;
}

